* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.home {
    box-sizing: border-box;
    width: 100%;
}


.header {
    background: linear-gradient(to right, #cf4d33 0%, #cf4d33 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    /* screen ke upar chipak jayega */
    left: 0;
    width: 100%;
    /* pura horizontal area cover kare */
    z-index: 1000;
    height: 35px;
}

.header p {
    font-size: 17px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
}

.headerr p {
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
}

.header1 {
    padding-top: 10px;
    background-color: rgb(239, 239, 239);
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    /* pura horizontal area cover kare */
    top: 35px;
    z-index: 999;
    height: 75px;
    border-bottom: 2px solid red;
    position: absolute;
}

.header1 img {
    margin-left: 20px;
    width: 150px;
}

.headermid {
    display: flex;
    justify-content: center;
    margin-left: -150px;
    margin-top: 30px;
}

.headermid p {
    text-align: center;
    margin-top: 10px;
}

.box {
    margin-top: 0px;
    width: 100px;
    height: 35px;
    background: linear-gradient(to right, #0671b7 0%, #528eb3 100%);
    color: white;
    border-top-right-radius: 20px;
    border-left: 3px solid red;
    cursor: pointer;
}

.box:hover {
    background: linear-gradient(to right, #cf4d33 0%, #cf4d33 100%);
    color: white;
    border-left: 3px solid #0671b7;
}

.headerfoot img {
    border: 4px solid rgb(212, 208, 208);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    object-position: left;
}

hr {
    width: 100%;
    height: 2px;
    background-color: red;
}

.myhome h3 {
    text-align: center;
    margin-top: 120px;
    background-color: rgb(79, 79, 183);
    border-radius: 20px;
    font-size: 13px;
    width: fit-content;
    height: auto;
    object-fit: cover;  
    padding: 5px 10px;
    color: white;
    margin-left: 1130px;
}

.backgroundimg {
    margin-top: 10px;
    width: 100%;
    min-height: 100vh;
    /* margin-bottom: 20px; */
    background-image: url("Images/Invertis2.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: absolute;

}

.backgroundimg img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
}

.leftcol {
    margin-left: 20px;
    width: 180px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 158px;
    text-align: center;
    border-left: 2px solid red;
    display: none;
} 
.leftcol_active{
    display: none;
}

.leftcol p {
    border-bottom: 1px solid black;
    margin-top: 1px solid black;
    font-size: 18px;
    color: black;
    padding: 10px;
}

.lefthome p {
    background: linear-gradient(to right, #cf4d33 0%, #cf4d33 100%);
    border: 1px solid white;
    color: white;
    background: linear-gradient(270deg, red, blue);
    background-size: 400% 400%;
    /* Yeh zaroori hai */
    animation: gradientMove 6s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.hidden {
    display: none;
}

.leftcol p:hover {
    background: linear-gradient(to right, #cf4d33 0%, #cf4d33 100%);
    color: white;
}

.headermid button {
    background: none;
    box-shadow: none;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.home_footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
    top: 775px;
    text-align: center;
    height: fit-content;
    background: #524D4D;
}  
.home_footer p{
    color: white;
    padding: 10px;
    font-size: 14px;
}

#admission {
    width: 83%;
    /* height: 1000px; */
    border: 3px solid red;
    padding: 3px;
    position: absolute;
    top: 165px;
    left: 210px;
    background-color: rgba(255, 255, 255, 0.541);
    overflow: hidden;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    box-sizing: border-box;
}

#admission.active {
    max-height: 800px;
    opacity: 1;
}

#admission h3 {
    background-color: darkblue;
    color: white;
    padding: 10px;
    padding-left: 15px;
    background: linear-gradient(to right, #cf4d33 0%, #cf4d33 100%);
    border: 1px solid white;
    color: white;
    background: linear-gradient(270deg, red, blue);
    background-size: 400% 400%;
    /* Yeh zaroori hai */
    animation: gradientMove 6s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.boxinside {
    background-color: rgba(255, 255, 255, 0.814);
    /* width: 80% */
    height: 500px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 8px black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 40px;

}

.form {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.form span {
    background: linear-gradient(to right, #e3e3e3 0%, #e3e3e3 100%);
    height: 20px;
    width: 100px;
    border-radius: 4px;
    padding: 5px 10px;
    border: 1px solid #dad1d1;
}

.form label {
    font-weight: bold;
    font-size: 14px;
}

#academic2 {
    width: 98%;
    border: 3px solid red;
    position: absolute;
    top: 165px;
    margin-top: -220px;
    /* left: 210px; */
    background-color: white;
    overflow: hidden;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    max-height: 0;
    box-sizing: border-box;
    margin-top: 20px;
    margin: 0px 20px;
    margin-right: 40px;
}

#academic2.active {
    max-height: none;
    opacity: 1;box-sizing: border-box;
}

#academic2 h3 {
    background-color: darkblue;
    color: white;
    padding: 10px;
    padding-left: 15px;
    background: linear-gradient(to right, #cf4d33 0%, #cf4d33 100%);
    border: 1px solid white;
    color: white;
    background: linear-gradient(270deg, red, blue);
    background-size: 400% 400%;
    /* Yeh zaroori hai */
    animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.boxinside {
    background-color: white;
    width: 98%;
    height: auto;
    margin: 10px 10px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 40px;
    box-sizing: border-box;
}

.form {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.form span {
    margin-top: 0px;
    background: linear-gradient(to right, #e3e3e3 0%, #e3e3e3 100%);
    height: fit-content;
    width: 200px;
    border-radius: 4px;
    padding: 5px 10px;
    border: 1px solid #dad1d1;
    text-align: center;
}

.form label {
    font-weight: bold;
    font-size: 14px;
}

#form_P span {
    font-size: 10px;
}

.core {
    width: 98%;
    margin-left: 10px;
    color: white;
    padding: 10px;
    padding-left: 15px;
    background: linear-gradient(to right, #09628e 0%, #e3e3e3 100%);
    border: 1px solid white;
    color: white;
    background-size: 400% 400%;
    text-align: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.core1 {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.core1 .icon {
    font-size: 20px;
    font-weight: bold;
}

.course_detail {
    text-align: center;
    width: 96%;
    grid-column: 1/-1;
    display: none;
}
.course_detail_show{
    display: block;
}

.course_detail table {
    border-collapse: collapse;
    padding: 12px;
    font-size: 14px;
    width: 100%;
    margin: 20px;
}

th,
td {
    border: 1px solid rgb(212, 207, 207);
    padding: 8px;
    text-align: left;
    /* background:linear-gradient(to right, #e8e8e8 0%, #e8e8e8 100%); */
}

th {
    background: linear-gradient(to right, #09628e 0%, #09628e 100%);
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    /* Alternate row color */
}

tfoot {
    background: linear-gradient(to right, #09628e 0%, #09628e 100%);
    color: white;
}

.elective {
    width: 98%;
    margin-left: 10px;
    color: white;
    padding: 10px;
    padding-left: 15px;
    background: linear-gradient(to right, #09628e 0%, #e3e3e3 100%);
    border: 1px solid white;
    color: white;
    background-size: 400% 400%;
    text-align: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.elective1 {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.elective1 .icon {
    font-size: 20px;
    font-weight: bold;
}

.elective_detail {
    text-align: center;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    display: none;
    overflow: hidden;
}
.elective_detail_show{
    display: block;
}

.elective_detail table {
    margin-left: 10px;
    width: 100%;
    margin-right: 0px;
}
.invertisImg {
    cursor: pointer;
}

.fees{
    width: 100%;
    position: absolute;
    top: 165px;
    background: rgb(212, 207, 207,0.3);
    margin: 0px 10px;
    height: fit-content;
    border: 2px solid red;
    display: none;
    cursor: pointer;
}
.fees_active{
    display: block;
}

#fees1{
    cursor: pointer;
}

.fees h3 {
    background-color: darkblue;
    color: white;
    padding: 10px;
    padding-left: 15px;
    background: linear-gradient(to right, #cf4d33 0%, #cf4d33 100%);
    border: 1px solid white;
    color: white;
    background: linear-gradient(270deg, red, blue);
    background-size: 400% 400%;
    /* Yeh zaroori hai */
    animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}
.fees_flex{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: fit-content; */
}
.total_fee{
    width: 50%;
    height: fit-content;
    background: #E8E8E8;
    margin: 10px;
}
.total_fee h3{
    background: #08628c;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}
.total_fee table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.total_fee table th{
    background: #DE495B;
    border: 1px solid black;
    border-top: 2px solid black;
    font-size: 14px;
    border-bottom: 2px solid black;
}
.totalfee table td{
    border: 1px solid grey;
}
.fees table tbody tr:nth-child(even) {
    background-color: white;
    /* Alternate row color */
}
.footer_fees{
    width: 100%;
    background-color: lightblue;
    margin: 10px;
    margin-right: 20px;
}
.footer_inside{
    box-shadow: inset 0 0px 30px  #08628c;
    width: 100%;
    height: fit-content;
    background-color: white;
}

.footer_fees p{
    text-align: center;
    height: fit-content;
    padding: 20px;
    line-height: 20px;  
}
.blink_note{
    color: red;
    padding: 6px 12px;
    font-size: 18px;
    font-weight: bold;
    animation: blink 1s ease-in-out infinite;
}
@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

.application_leftcol {
    margin-left: 20px;
    width: 200px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 155px;
    text-align: center;
    border-left: 2px solid red;
}
.application_leftcol_active{
    display: none;
}

.application_leftcol p {
    border-bottom: 1px solid black;
    margin-top: 1px solid black;
    font-size: 18px;
    color: black;
    padding: 10px;
}

.application_lefthome p {
    background: linear-gradient(to right, #cf4d33 0%, #cf4d33 100%);
    border: 1px solid white;
    color: white;
    background: linear-gradient(270deg, red, blue);
    background-size: 400% 400%;
    /* Yeh zaroori hai */
    animation: gradientMove 6s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.application_hidden {
    display: none;
}

.application_leftcol p:hover {
    background: linear-gradient(to right, #cf4d33 0%, #cf4d33 100%);
    color: white;
}
.application_certificate{
    border: 2px solid red;
    width: 80%;
    background-color: rgb(242, 242, 242,0.8);
    height: 200px;
    position: absolute;
    right: 10px;
    top: 155px;
}
.application_certificate  h3 {
    background-color: darkblue;
    color: white;
    padding: 10px;
    padding-left: 15px;
    background: linear-gradient(to right, #cf4d33 0%, #cf4d33 100%);
    border: 1px solid white;
    color: white;
    background: linear-gradient(270deg, red, blue);
    background-size: 400% 400%;
    /* Yeh zaroori hai */
    animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}
.application_certificate .certificate_box{
    width: 96%;
    margin: 20px;
    background-color: rgb(255, 255, 255,0.6);
    box-shadow: 0 0 12px black;
    height: 100px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.application_select select{
    padding: 5px;
}
.application_select1 select{
    width: 200px;
    padding: 5px;
}